.wrapper {
    border: none;
    padding-left: 10px;
    padding-right: 10px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 2px;
}

.wrapper .text {
    color: #000;
    font-size: 14px;
}

.primary {
    background-color: #007bff;
}

.primary:hover {
    background-color: #0069d9;
}

.primary .text {
    color: #fff;
}

.success {
    background-color: #28a745;
}

.success:hover {
    background-color: #218838;
}

.success .text {
    color: #fff;
}

.danger {
    background-color: #dc3545;
}

.danger:hover {
    background-color: #c82333;
}

.danger .text {
    color: #fff;
}

.warning {
    background-color: #ffc107;
}

.warning:hover {
    background-color: #e0a800;
}

.flat {
    width: 100%;
    height: 45px;
    background: rgba(238, 242, 245, 1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 12px 16px 12px 16px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 20.27px;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    vertical-align: top;
}

.flat::after {
    content: ">";
    width: 10px;
    height: 10px;
    position: absolute;
    right: 18px;
}

.flat:hover {
    background: linear-gradient(90deg, rgba(195, 225, 250, 1) 0%, rgba(255, 230, 253, 1) 100%);
}

.flat .text {
    width: 254px;
    height: 21px;
    display: flex;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0px;
    line-height: 20.27px;
    color: rgba(51, 51, 51, 1);
    text-align: left;
    vertical-align: top;
}

.float {
    width: auto;
    height: auto;
    position: fixed;
    gap: 10px;
}

.float[pop],
.float[pop]:hover {
    background: transparent;
}

.float .pop {
    display: none;
}

.float[debug] .pop {
    display: block;
}

.float:hover .pop {
    display: flex;
    flex-direction: column;
}

.float[pop="left"] {
    flex-direction: row-reverse;
    justify-content: end;
    align-items: flex-end;
}

.float[pop="right"] {
    flex-direction: row;
    justify-content: end;
    align-items: flex-end;
}

.float .pop {
    
}
