.wrapper {
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-weight: 600;
    font-size: 16px;
}

.sub_title {
    font-size: 12px;
    color: #666;
    font-weight: 100;
}

.body {
    font-size: 14px;
    font-size: 100;
}